.grid{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 10px;
}
.app-product-item {
max-width: 400px;
display: list-item;
grid-gap: 10px;
img{
   width: 70%;
   height: 70%;
}



}
.check-btn{
   margin:  15px 5px 15px;
}
